.party-view {
  border-bottom: 1px solid #ABABAB;
}

.party-view .party-header {
  align-items: center;
  border-color: #ABABAB;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0;
  color: #ABABAB;
  display: flex;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  transition: border-bottom-width 180ms ease-in-out;
}

.party-view .party-header .party-header-content,
.party-member .party-member-name {
  padding: 1rem;
  position: relative;
  width: 100%;
}

.party-member .party-member-name {
  padding: 0.5rem 1rem 1.5rem;
}

.party-header-content .party-header-subtext,
.party-member .party-member-subtext {
  bottom: 0.25rem;
  color: #ABABAB;
  font-size: 0.75rem;
  left: 1rem;
  position: absolute;
}

.party-view .party-header {
  border-bottom-width: 1px;
}

.party-header span {
  flex-grow: 1;
}

.party-header svg {
  height: 1.5rem;
  margin-right: 1rem;
}

.party-header svg path,
.party-header svg polygon {
  fill: #ABABAB!important;
}

.party-view ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.party-view .party-member {
  align-items: center;
  border-bottom: 1px solid #A0A0A0;
  display: flex;
  padding: 0;
}

.party-view .party-member:last-of-type {
  border-bottom-width: 0;
}

.party-member div {
  display: inline-block;
}

.party-member .party-member-level {
  font-size: 1.125rem;
  padding: 1rem;
}

.party-member .party-member-name {
  flex-grow: 1;
  font-size: 1.125rem;
  padding-left: 1rem;
}

.party-sort {
  position: relative;
}

.party-sort-button {
  border: 1px solid #ABABAB;
  border-radius: 2rem;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.party-sort-button svg {
  height: 1rem;
  margin: 0;
}

.party-sort-direction {
  border: 1px solid #ABABAB;
  border-radius: 1rem;
  height: 0.5rem;
  line-height: 0.5rem;
  padding: 0.25rem;
  position: absolute;
  top: 1.175rem;
  left: 0.1rem;
  z-index: 2;
  background: #404040;
}

.party-sort-direction svg {
  height: 0.5rem;
  margin: 0;
  position: relative;
  top: -0.175rem;
}
