.navbar {
  align-items: center;
  background: #404040;
  border-bottom: 1px solid #ABABAB;
  display: flex;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 1.25rem;
  position: fixed;
  width: calc(100% - 2.5rem);
  z-index: 2;
}

.navbar-brand {
  flex-grow: 1;
}

.navbar-action {
  height: 1.5rem;
}

.navbar-action path {
  fill: #ABABAB;
}

.navbar-padding {
  padding-top: 3rem;
}
