.parties-list {
  background: #404040;
  min-height: 100vh;
  padding: 0.5rem;
}

.parties-list-party {
  border: 1px solid #ABABAB;
  border-radius: 3px;
  margin: 0.5rem;
}

.parties-list-party .party-header {
  align-items: center;
  border-color: #ABABAB;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0;
  transition: border-bottom-width 180ms ease-in-out;
  color: #ABABAB;
  display: flex;
  margin: 0;
  padding: 1rem;
}

.parties-list-party.members-visible .party-header {
  border-bottom-width: 1px;
}

.party-header span {
  flex-grow: 1;
}

.party-header svg {
  height: 1.5rem;
}

.party-header svg path,
.party-header svg polygon {
  fill: #ABABAB!important;
}

.parties-list-party ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.parties-list-party .party-member {
  align-items: center;
  border-bottom: 1px solid #A0A0A0;
  display: flex;
  padding: 0;
}

.parties-list-party .party-member:last-of-type {
  border-bottom-width: 0;
}

.party-member div {
  display: inline-block;
}

.party-member .party-member-level {
  font-size: 1.2rem;
  padding: 1rem;
}

.party-member .party-member-name {
  flex-grow: 1;
  padding-left: 1rem;
}
