.parties-list {
  background: #404040;
  height: 100vh;
}

.parties-list-party .party-header {
  align-items: center;
  border-bottom: 2px solid #A0A0A0;
  color: #ABABAB;
  display: flex;
  margin: 0;
  padding: 1rem;
}

.party-header span {
  flex-grow: 1;
}

.party-header svg {
  height: 1.5rem;
}

.party-header svg path,
.party-header svg polygon {
  fill: #ABABAB!important;
}

.parties-list-party ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.parties-list-party .party-member {
  align-items: center;
  border-bottom: 2px solid #A0A0A0;
  display: flex;
  padding: 0;
}

.party-member div {
  display: inline-block;
}

.party-member .party-member-level {
  font-size: 1.2rem;
  padding: 1rem;
}

.party-member .party-member-name {
  flex-grow: 1;
  padding-left: 1rem;
}
