.layout {
  background: #404040;
  color: #ABABAB;
  min-height: 100vh;
}
.collapsible-enter {
  max-height: 0;
  overflow: hidden;
}
.collapsible-enter-active {
  max-height: 100vh;
  transition: all 360ms;
}
.collapsible-exit {
  max-height: 100vh;
}
.collapsible-exit-active {
  max-height: 0;
  overflow: hidden;
  transition: all 360ms;
}
.collapsible-exit-done {
  max-height: 0;
  overflow: hidden;
}
